# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
backend/venv/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
dist/
build/


.sfdx/