fastapi
uvicorn
pydantic
sympy
requests
beautifulsoup4
wikipedia
transformers
sentencepiece
python-multipart
supabase
python-dotenv
Pillow
pytesseract
PyMuPDF
pydantic[email]
deep-translator
opencv-python-headless
torch==2.2.2