fastapi
uvicorn
pydantic
sympy
requests
beautifulsoup4
wikipedia
torch
transformers
sentencepiece
python-multipart
supabase
python-dotenv
Pillow
pytesseract
PyMuPDF
pydantic[email]
deep-translator
opencv-python