fastapi
uvicorn
pydantic
sympy
requests
beautifulsoup4
wikipedia
transformers
sentencepiece
python-multipart
supabase
python-dotenv
Pillow
pytesseract
PyMuPDF
email-validator
deep-translator
opencv-python-headless
torch